.card {
  display: grid;
  grid-template-columns: 220px 1fr;
  background-color: transparent;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  border: 1px solid #444;
  width: 100%;
  cursor: pointer;
}

.cardImage {
  flex: 0 0 120px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.category {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: #5d6a81;
  margin-bottom: 4px;
  font-weight: bold;

  span {
    margin: 2px 10px 2px 0;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.origin {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 4px;
}

.releaseDate {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 4px;
}

.rating {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #ef4444;
  margin-bottom: 8px;
}

.showTimeBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.showtimeButton {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.type {
  border: 1px solid #444;
  padding: 8px;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1024px) {
  .showTimeBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
  }

  .cardImage {
    flex: 0;

    img {
      width: 150px;
      height: 100%;
      object-fit: cover;
    }
  }
  .card {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: transparent;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
  }
  .showtimeButton {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #fff;
  }

  .showTimeBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
  }
}