.containerMovie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  background-color: #10141b;
  padding: 40px;

  @media (max-width: 1024px) {
    padding: 40px; // tablet
    gap: 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 10px 0px;
    gap: 16px;
  }
}

.rectangle {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #ef4444;
}

h1 {
  color: #fff;
  font-size: 28px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 20px;
  flex-wrap: wrap;
}

.container {
  background-color: #10141b;
  padding: 20px;
  width: 100%;
}

.note {
  color: #f97316;
  text-align: center;
}

.dateBox {
  padding: 14px 20px;
  border: 1px solid #444;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    border-color: #ef4444;
    background-color: #ffffff11;
  }
}

.activeDay {
  background-color: #ef4444 !important;
  border-color: #ef4444 !important;
}