.detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.back {
  display: inline-block;
  margin-bottom: 16px;
  color: #666;
  text-decoration: none;
}

.title {
  font-size: 28px;
  margin-bottom: 8px;
}

.date {
  color: #999;
  margin-bottom: 24px;
}

.imageWrap {
  img {
    width: 100%;
    border-radius: 8px;
  }
}
.imageWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  img {
    max-width: 100%;
    border-radius: 8px;
  }
}

/* ===== CKEDITOR CONTENT ===== */
.content {
  margin-top: 24px;
  line-height: 1.7;
  color: white;

  p {
    margin-bottom: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 16px auto;
    border-radius: 8px;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 12px;
  }

  h2,
  h3 {
    margin: 16px 0 8px;
  }
}
