.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 400px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}

.cancelBtn {
  padding: 8px 14px;
  border-radius: 6px;
  background: #e5e7eb;
  cursor: pointer;
}

.submitBtn {
  padding: 8px 14px;
  border-radius: 6px;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
}

.formGroup {
  position: relative;
}

.suggestBox {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  //   display: none;
  right: 0;

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 4px 0;
  margin: 0;

  list-style: none;
  max-height: 180px;
  overflow-y: auto;
  z-index: 1000;

  border: 1px solid #44444456;

  li {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #111827;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    p {
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    &:hover {
      background-color: #ddd;
    }
  }
}
